:root {
  --white: #ffffffff;
  --purple-100: #f2e6fa;
  --purple-400: #ac2be6;
  --purple-600: #8c6991;
  --purple-950: #2f1533;
}

body,
h1,
p,
dl,
dd,
dt {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

html {
  background: var(--purple-100);
}

body {
  min-height: 100vh;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  background: url("./img/background-pattern-desktop.svg") no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq {
  max-width: 70vw;
  background: var(--white);
  padding: 60px 40px;
  border-radius: 14px;
  box-shadow: 4px 4px 20px rgba(140, 105, 145, 0.2);
}

.star {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url("./img/icon-star.svg") no-repeat no-repeat center;
  z-index: 100;
  margin-right: 30px;
}

.title {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 1.8px;
  color: var(--purple-950);
  margin-bottom: 40px;
}

dt {
  color: var(--purple-950);
  font-weight: 600;
  cursor: pointer;
  font-size: 1.25rem;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 20px;
}

dt:hover {
  color: var(--purple-400);
}

dt .icon {
  content: "";
  display: inline-block;
  width: 30px;
  height: 31px;
  background: url("./img/icon-plus.svg") no-repeat center;
}

dt:nth-child(n + 2) {
  margin-top: 30px;
}

dt.active .icon {
  background: url("./img/icon-minus.svg") no-repeat center;
}

dt.active + dd {
  display: inline-block;
}

dd {
  font-size: 1.125rem;
  font-weight: 400;
  display: none;
  color: var(--purple-600);
  margin-top: 10px;
}

@media (max-width: 700px) {
  body {
    background-size: auto 30%;
  }

  .title {
    margin-bottom: 15px;
    font-size: 3rem;
  }

  dt {
    padding-top: 20px;
    font-size: 1.125rem;
  }

  dt:nth-child(n + 2) {
    margin-top: 20px;
    border-top: 2px solid var(--purple-100);
  }

  dd {
    font-size: 1rem;
  }
}
